<html>
<head>
    <meta charset="UTF-8">
    <title>Ask Me</title>
    <link rel="stylesheet" type="text/css" href="/static/commons/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/chat/css/chat.css">
    <script src="/static/commons/js/jquery.min.js"></script>
    <script src="/static/commons/js/bootstrap.min.js"></script>
    <script src="/static/chat/js/chat.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/chat/css/feedback.css">
    <script src="/static/chat/js/feedback.js"></script>
</head>
<body>
<div class="container">
    <header class="header">
        <div class="pull-left">
            <a href="/"><img class="logo-left" src="/static/images/vagrantlogo.png"></a>
        </div>
    </header>
    <h1 style="margin-left: 100px">ChatBot</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9 chat-area">
            <ul class="chat">
            </ul>

                <div class="footer">
                    <div class="input-group">
                    <input id="btn-input" type="text" class="form-control input-sm"
                           placeholder="Type your message here..."/>
                    <span class="input-group-btn">
                                <button class="btn btn-warning btn-sm" id="btn-chat">
                                    Send</button>
                            </span>
                </div>
                <div>
                <button type = "reset" class="btn btn-warning btn-cl" id="btn-clear" style="margin-left: 2px; margin-top: 2px">
                    Clear Window</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h4 style="margin-left: 50px">Questions asked</h4>

            <ul class="questions" style="margin-left: 50px">
            </ul>
        </div>
        <div class="col-md-5" style="display:none">
            <h4 style="margin-left: 50px">POST /api/v1</h4>
            <pre class="payloadPreview">
            </pre>
        </div>
    </div>
</div>
<div class="container">
    <footer class="footer">

        <a href="/stories/home">Manage Stories</a>

<div class="contact-container">
    <h2>Feel free to get in touch.</h2>
    <ul class="actions">
        <li><a href="#" id="contact" class="button big">Contact Us</a></li>
    </ul>
</div>
<div class="cd-popup contact" role="alert">
    <form name="contactform" id="contactform" class="contact-form">
        <div class="cd-popup-container" style="">
            <p style="">
                <a href="" class="cd-popup-close cd-close-button">
                    <i class="fa fa-times" style="pointer-events:none;"></i>
                </a>
            </p>

            <div class="name">
                <label for="name">Name</label>
                <input class="btn-input" type="text" id="name" name="name" />
            </div>
            <div class="email">
                <label for="email">Email</label>
                <input class="btn-input" type="text" id="email" name="email" />
            </div>
            <div class="message">
                <label for="message">Message</label>
                <textarea class="message" id="message" name="message"></textarea>
            </div>
            <br>
            <div style="text-align:left">
                <input class="btn-input" type="checkbox" id="human" name="human" />
                <label for="human">I am a human and not a robot.</label>
            </div>
            <br>
            <div class="submit">
                <p class="user-message" id="contactblurb"> Questions, suggestions, and general comments are all welcome!</p>
                <input class="btn-input" type="submit" name="submit" id="submit" value="Send" />
            </div>
        </div>
    </form>
</div>

<div class="cd-popup notification" role="alert">
    <div class="cd-popup-container">
        <a href="" class="cd-popup-close cd-close-button"><i class="fa fa-times" style="pointer-events:none;"></i></a>
        <p>
        <h3 id="notification-text">Thanks for getting in touch!</h3>
        </p>
    </div>
</div>
    </footer>
</div>
</body>
</html>